/* start body */
body{
    background-color: rgb(236, 187, 187);
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
/* End body */

/* Start Debug */
.bg-white {
    background-color: #ffffff;
}
.bg-dusty {
    background-color: #eec5c5
}
/* End Debug */

/* Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 0px auto;
    overflow: auto;
    width: 100%;
}

.container-logo {
    margin: 10px auto;
    overflow: auto;
    width: 50%;
}

.container-j {
    margin: 20px 10px;
    overflow: auto;
    text-align: center;
}
.container-ji {
    margin: 20px 10px;
    overflow: auto;
    text-align: left;
}
/* End Container*/

/* Start Logo */
.logo {
    text-align: center;
    width: 300;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: rgb(66, 75, 102);
    text-decoration: none;
}
a:hover,
a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul{
    background-color: rgb(189, 105, 124);
    border-radius: 10px;
}

.menu-primer li {
    border-right: 3px solid #c97b7b;
    display: inline-block;
}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-primer a:hover {
    background-color: white;
    color: rgb(187, 121, 124);
    text-decoration: none;
}

.menu-primer .active {
    background-color: white;
    color: rgb(187, 121, 124);
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
/* End Heading*/

/* Start Jumbotron */
.jumbotron {    
    padding: 10px 10px;
    margin: 10px;
}
.jumbotron h1 {
    font-size: 30px;
    padding: 0px 0px;
}
.jumbotron h3 {
    font-size: 18px;
    padding: 1px 1px;
}
/* End Jumbotron */

/* Start Menu Sekunder*/
.menu-sekunder {
    background-color: #eec5c5;
    border-bottom: 1px solid #eec5c5;
    border-top: 1px solid #eec5c5;
    overflow: auto;
    padding: 10px 5px;
}
.menu-sekunder h4 {
    font-size: 14px;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 10px 0;
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Sekunder*/

/* Start Copyright */
.copyright p {
    font-size: 15px;
    text-align: left;
    margin: 10px;
    width: 100%;
}
/* End Copyright */

/* Start Box */
.box-heading {
    background-color: #eec5c5;
    border: 1px solid rgb(189, 105, 124);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: inherit;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: rgb(236, 187, 187);
    border: 1px solid rgb(189, 105, 124);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    font-size: 18px;
}
/* End Box */